@import "tailwindcss";

@theme {
    --color-primary-light: #007bff;

}
/* cambiar lenguaje a css con  ctrl + shift + p*/
@font-face {
    font-family: 'Lobster-Regular';
    src: url('/fonts/Lobster-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Poppins', sans-serif;
  }
