@import "tailwindcss";

@theme {
    --color-secondary-400:  #2ed9a4;
    --color-secondary-500: #09bc89;
    --color-secondary-300: #69ecbf;

}
/* cambiar lenguaje a css con  ctrl + shift + p*/
@font-face {
    font-family: 'Lobster-Regular';
    src: url('/fonts/Lobster-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Poppins', sans-serif;
  }
