<section id="Experiencia" class="py-8 sm:py-12 md:py-16">
  <div class="container mx-auto px-4">
    <header class="space-y-2 mb-12">
      <h2 class="text-lg text-secondary-400">Quién soy</h2>
      <h3
        class="text-4xl md:text-5xl font-bold py-2 bg-clip-text text-transparent bg-gradient-to-bl from-primary-950 via-white to-primary-950"
      >
        Acerca de mí
      </h3>
    </header>
    <!-- Simple, clean layout -->
    <div class="mt-6 sm:mt-8 md:mt-10 mx-auto">
      <!-- Profile section -->
      <div
        class="flex flex-col md:flex-row items-center gap-6 sm:gap-8 mb-8 sm:mb-10 md:mb-12"
      >
        <!-- Profile image -->
        <div class="w-40 h-40 md:w-56 md:h-56 flex-shrink-0">
          <picture>
            <source srcset="/img/me.webp" type="image/webp" />
            <source srcset="/img/me.webp" type="image/webp" />
            <img
              src="/img/me.webp"
              alt="Yucli Emmanuel Baza Ortuño"
              loading="lazy"
              width="192"
              height="192"
              decoding="async"
              class="rounded-full w-full h-full object-cover border-2 border-secondary-500"
            />
          </picture>
        </div>

        <!-- Personal info about me -->
        <div
          class="text-center md:text-pretty bg-primary-900/50 p-6 rounded-xl border border-primary-800/50 shadow-sm"
        >
          <p class="text-primary-300 leading-loose">
            Soy un <strong>Programador Back-End</strong> y <strong
              >Front-end</strong
            > con <strong>1 año</strong> de experiencia construyendo aplicaciones
            web modernas. Me especializo en <strong>php</strong>, <strong
              >python</strong
            >, y <strong>Astro con Tailwind CSS</strong>. Mi objetivo es crecer
            profesionalmente, aportando <strong>correr</strong>, <strong
              >mis habilidades</strong
            > y <strong></strong>conocimientos
          para desarrollar aplicaciones web <strong>impactantes</strong>.🖥️</p>
        </div>
      </div>
    </div>
    <!-- Skills section -->
    <div class="mb-12">
      <h4 class="text-xl font-semibold text-secondary-400 mb-4">
        Mis habilidades
      </h4>
      <div class="flex flex-wrap gap-2">
        <span
          class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
        >
          Desarrollo Web
        </span><span
          class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
        >
          Patrones de Diseño
        </span><span
          class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
        >
          Optimización de Rendimiento
        </span><span
          class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
        >
          Accesibilidad
        </span><span
          class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
        >
          Metodologias
        </span>
      </div>
    </div>
    <!-- Tech stack section -->
    <div>
      <div class="flex flex-col gap-8">
        <div class="overflow-x-hidden py-8 w-full">
          <div class="flex animate-scroll gap-12 md:gap-20 w-max">
            <div class="flex items-center gap-2">
              <img
                src="/svg/laravel2.svg"
                alt="laravel"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                Laravel
              </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/mysql.svg"
                alt="mysql"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                Mysql
              </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/php.svg"
                alt="php"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon"> PHP </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/python.svg"
                alt="python"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                Python
              </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/django.svg"
                alt="django"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                Django
              </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/wordpress.svg"
                alt="wordpress"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                WordPress
              </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/github.svg"
                alt="github"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                Github
              </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/html.svg"
                alt="html"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon"> Html </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/js.svg"
                alt="js"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon"> Js </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/css.svg"
                alt="css"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon"> Css </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/tailwind.svg"
                alt="tailwind"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                tailwind
              </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/firebase.svg"
                alt="firebase"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                Firebase
              </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/filezilla.svg"
                alt="filezilla"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                Filezilla
              </span>
            </div><div class="flex items-center gap-2">
              <imgz
                src="/svg/net.svg"
                alt="net"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"></imgz>
              <span class="sm:text-base text-sm font-medium -icon"> .Net </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/mysql.svg"
                alt="mysql"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                Mysql
              </span>
            </div>
            <div class="flex items-center gap-2">
              <img
                src="/svg/astro.svg"
                alt="astro"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                Astro
              </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/react.svg"
                alt="react"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                React
              </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/tailwind.svg"
                alt="tailwind"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                tailwind
              </span>
            </div>
            <div class="flex items-center gap-2">
              <img
                src="/svg/astro.svg"
                alt="astro"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                Astro
              </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/react.svg"
                alt="react"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                React
              </span>
            </div><div class="flex items-center gap-2">
              <img
                src="/svg/tailwind.svg"
                alt="tailwind"
                loading="lazy"
                width="30"
                height="30"
                decoding="async"
                class="h-7 w-auto object-contain"
              />
              <span class="sm:text-base text-sm font-medium -icon">
                tailwind
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="top-0 left-0 w-full h-[2px] bg-gradient-to-r from-secondary-500/0 via-secondary-500/50 to-secondary-500/0"
>
</div>
