<section id="experience" class="py-8 sm:py-12 md:py-16">
  <div class="container mx-auto px-4">
    <header class="space-y-2 mb-12">
      <h2 class="text-lg text-secondary-400">Mi trayectoria</h2>
      <h3
        class="text-4xl md:text-5xl font-bold py-2 bg-clip-text text-transparent bg-gradient-to-bl from-primary-950 via-white to-primary-950"
      >
        Experiencia
      </h3>
    </header>
    <div class="mt-6 sm:mt-8 md:mt-10">
      <!-- Experience Cards -->
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 sm:gap-6"
      >
        <div
          class="group relative bg-primary-900/50 border border-primary-800/30 rounded-lg overflow-hidden hover:border-secondary-500/30 transition-all duration-300 hover:shadow-lg hover:shadow-secondary-500/10"
        >
          <!-- Decorative element -->
          <div
            class="absolute top-0 left-0 w-full h-1 bg-gradient-to-r from-secondary-500 to-secondary-400"
          >
          </div>
          <div class="p-6">
            <!-- Date badge -->
            <div class="mb-4">
              <span
                class="text-sm text-secondary-500 bg-primary-800/50 px-3 py-1 rounded-md inline-block"
                >Jun - Dic 2024</span
              >
            </div>
            <!-- Title and company -->
            <div class="mb-4">
              <h3
                class="text-xl font-bold text-secondary-500 group-hover:text-secondary-200 transition-colors"
              >
                FullStack Developer
              </h3>
              <p class="text-primary-200">Plataforma OC CIDAM</p>
            </div>
            <!-- Description -->
            <ul class="space-y-2 mb-6">
              <li class="flex items-start gap-2 text-primary-300 text-sm">
                <span class="text-secondary-500 mt-1">•</span>
                <span
                  >Migre junto con un equipo la plataforma web de OC CIDAM a
                  Laravel, que mejoro significativamente su rendimiento. El
                  rediseño de la interfaz de usuario y optimizando procesos
                  clave como la certificación de mezcal estuvo bajo mi cargo</span
                >
              </li><li class="flex items-start gap-2 text-primary-300 text-sm">
                <span class="text-secondary-500 mt-1">•</span>
                <span
                  >Creé diseños UI/UX amigables con el usuario, asegurando una
                  interfaz atractiva y fácil de usar.</span
                >
              </li><li class="flex items-start gap-2 text-primary-300 text-sm">
                <span class="text-secondary-500 mt-1">•</span>
                <span
                  >Utilicé tecnologías web modernas, como Laravel para el
                  desarrollo de la web, asi como el uso de librerias como
                  FormValidation, SweetAlert2 y DOMPDF, lo que garantizó una
                  experiencia de usuario fluida y aumentó la eficiencia general
                  de la plataforma.
                </span>
              </li><li class="flex items-start gap-2 text-primary-300 text-sm">
                <span class="text-secondary-500 mt-1">•</span>
                <span>
                  Utilizacion de base de datos com Mysql y diseño de esta misma
                  para el registro de datos.
                </span>
              </li>
            </ul>
            <!-- Technologies -->
            <div class="flex flex-wrap gap-2">
              <span
                class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
              >
                Laravel
              </span><span
                class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
              >
                JavaScript
              </span><span
                class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
              >
                Boostrap
              </span><span
                class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
              >
                MySql
              </span><span
                class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
              >
                PHP
              </span>
            </div>
          </div>
        </div><div
          class="group relative bg-primary-900/50 border border-primary-800/30 rounded-lg overflow-hidden hover:border-secondary-500/30 transition-all duration-300 hover:shadow-lg hover:shadow-secondary-500/10"
        >
          <!-- Decorative element -->
          <div
            class="absolute top-0 left-0 w-full h-1 bg-gradient-to-r from-secondary-500 to-secondary-400"
          >
          </div>
          <div class="p-6">
            <!-- Date badge -->
            <div class="mb-4">
              <span
                class="text-sm text-secondary-500 bg-primary-800/50 px-3 py-1 rounded-md inline-block"
                >Abr - Act 2025</span
              >
            </div>
            <!-- Title and company -->
            <div class="mb-4">
              <h3
                class="text-xl font-bold text-secondary-500 group-hover:text-secondary-200 transition-colors"
              >
                Back-End Developer
              </h3>
              <p class="text-primary-200">Toro Digital Creative</p>
            </div>
            <!-- Description -->
            <ul class="space-y-2 mb-6">
              <li class="flex items-start gap-2 text-primary-300 text-sm">
                <span class="text-secondary-500 mt-1">•</span>
                <span
                  >Desarrollo de aplicaciónes web interactiva,
                  asegurando una experiencia de usuario de alto rendimiento y
                  centrada en las necesidades del usuario.</span
                >
              </li><li class="flex items-start gap-2 text-primary-300 text-sm">
                <span class="text-secondary-500 mt-1">•</span>
                <span
                  >Construí codigo sólidos de alta escalabiliad para paginas, mejorando su funcionabilidad.</span
                >
              </li><li class="flex items-start gap-2 text-primary-300 text-sm">
                <span class="text-secondary-500 mt-1">•</span>
                <span
                  >Mantuve y optimicé el código listo para producción,
                  enfocándome en la escalabilidad y mejoras en el rendimiento.</span
                >
              </li><li class="flex items-start gap-2 text-primary-300 text-sm">
                <span class="text-secondary-500 mt-1">•</span>
                <span
                  >Utilicé herramientas y frameworks tales como Wordpress y Django para desarrollo web.</span
                >
              </li>
            </ul>
            <!-- Technologies -->
            <div class="flex flex-wrap gap-2">
              <span
                class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
              >
                wordpress
              </span><span
                class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
              >
                PHP
              </span><span
                class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
              >
                Metodologias
              </span><span
                class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
              >
                Patrones de diseño
              </span><span
                class="md:text-sm text-xs bg-primary-800/30 text-primary-200 px-2 py-1 rounded-md border border-primary-800/50"
              >
                Base de datos
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Resume Button -->
      <div class="text-center mt-6">
        <a
          target="_blank"
          href="/documents/cv_yucli.pdf"
          aria-label="CV Completo"
          class="inline-flex items-center justify-center gap-2 hover:bg-secondary-500/10 bg-secondary-500/5 text-secondary-400 hover:text-secondary-300 font-semibold rounded-lg px-4 py-2 transition duration-200 ease-in-out"
        >
          <svg
            fill="currentColor"
            viewBox="-5.5 0 32 32"
            version="1.1"
            width="24"
            height="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.656 8.5l-10.438 10.5 2.188 2.219 10.469-10.469 1.938 1.906c0.531 0.531 1 0.375 1-0.438v-5.656c0-0.5-0.438-0.969-0.969-0.969h-5.656c-0.813 0-1 0.469-0.469 1zM16.813 23.031v-7.094h2.375v7.906c0 1.406-1.156 2.563-2.563 2.563h-14.063c-1.406 0-2.563-1.156-2.563-2.563v-14.094c0-1.406 1.156-2.563 2.563-2.531h8.656v2.375h-7.844c-0.5 0-0.969 0.469-0.969 0.969v12.469c0 0.5 0.469 0.969 0.969 0.969h12.469c0.5 0 0.969-0.469 0.969-0.969z"
            ></path>
          </svg>
          <span class="text-sm font-medium md:text-base"> CV Completo </span>
        </a>
      </div>
    </div>
  </div>
</section>
